@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body{
    margin: 0px;
    padding: 0;
}
.container_all_page{
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    display: grid;
    grid-template-columns: 23%;
    grid-template-rows:75%;
    align-content: center;
    justify-content: center;
}
.card_container{
    background-color: hsl(216, 50%, 16%);
    border-radius: 11px;
    /* display: grid; */
    /* grid-template-rows: 55% 5.5% 5.5% 5.5% 1px 5.5%;  */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.card_container .equilibrium{
    width: 85%;
    height: 55%;
    border-radius: 8px;
    /* margin-right: 7.5%; */
    /* margin-left: 7.5%; */
}

.headline{
    height: 4.5%;
    width: 85%;
    /* font-size: 18px; */
}
.paragraph{
    height: 4.5%;
    width: 85%;
    font-size: 18px;
}
.numbers_container{
    height: 4.5%;
    width: 85%;
    display: flex;
}
.numbers_container div{
    display: flex;
}
.numbers_container div img{
    width:17px; 
    height:17px;
}
hr{
    width: 85%;
    background-color: hsl(215, 51%, 70%);
    border:solid 1px hsl(215, 51%, 70%);
    border-radius: 1px;
}
.avatar_and_info_container{
    height: 4.5%;
    width: 85%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
}
.avatar{
    width: 10px;
    height: 10px;
}